.loginbox {
    -webkit-flex: 0 1 300px;
    flex: 0 1 360px !important;
}
.pass-ref{
    text-align: right;
    color: floralwhite;
}
.show-pass{
    /*color: #000;*/
    display: flex;
    top: 10px;
    right: 35px;
}