<div class="pricing pricing--tashi">
    <div class="pricing__item loginbox">
        <h1>Вход в систему</h1>
        <form #f="ngForm" novalidate>

            <div class="form-group">
                <label>Пользователь</label>
                <select name="userId" class="form-control" [(ngModel)]=user.userId>
                    <option *ngFor="let item of users" [value]=item.value>{{item.display}}</option>
                </select>
            </div> 

            <div class="form-group">
                <label>Логин</label>
                <input type="text" class="form-control" name="login" [(ngModel)]="user.login">
            </div>

            <div class="form-group">
                <label>Пароль</label> 
                <div class="row">
                    <div class="col-lg-12"><input type={{textType}} class="form-control" name="password" [(ngModel)]="user.password"></div>
                    <div><a><span (click)="showPass()" class="glyphicon glyphicon-eye-open show-pass" aria-hidden="true"></span></a></div>
                </div>
                <a (click)="getRefPass()"><h5 class="pass-ref">Забыли пароль?</h5></a>
            </div>

            <div class="form-group" *ngIf="user.userId==1">
                <label>Предприятие</label>
                <div class="radio" *ngFor="let prog of programms">
                    <label>
                    <input type="radio" name="parogramm" [(ngModel)]=user.programmId [value]=prog.value>
                    {{prog.display}}
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="col-md-offset-6 col-md-6"><button type="button" (click)="loginEnter()" class="btn btn-primary btn-lg btn-block"><i class="material-icons">check</i>  Вход</button></div>                   
            </div>
        </form>
   </div>
</div>

<!--<pass-ref-dialog [StatusDialog]=refDialog></pass-ref-dialog>-->

<p-dialog header="Востоновление пароля" [(visible)]="refDialog" modal="modal" width="300" [responsive]="true">
    <p>Для востоновления пароля укажите почту на каторую зарегестрирован пользователь:</p>
    <div class="form-group">
        <label>e-mail:</label>
        <input type="text" class="form-control" name="email" [(ngModel)]="email">
    </div>

        <p-footer>
            <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                <button type="button" pButton icon="fa-close" (click)="refDialog=false" label="Отмена"></button>
                <button type="button" pButton icon="fa-check" (click)="refDialog=false" label="Восстановить"></button>
            </div>
        </p-footer>
</p-dialog>