/* here you can put your own css to customize and override the theme */

/***
Rounded Portlets
***/
/*
.portlet {
	border-radius: 4px !important;
}

.portlet .portlet-title {
	border-radius: 4px 4px 0px 0px !important;
}

.portlet .portlet-body,
.portlet .portlet-body .form-actions  {
	border-radius: 0px 0px 4px 4px !important;
}
*/

.table-with-padding, .table-with-padding * 
{
	border-color: 1px solid rgb(225,225,225);
}

.table-with-padding th, .table-with-padding td
{
	padding: 0.5em;
}


#map {


    height: 600px;






}


.info {

    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}

.legend li{

    list-style-type: none;

    padding-top: 10px;
}


.legend ul {
    margin-left: 0;
    padding-left: 0;

}

.legend {


    width: 300px;
    line-height: 18px;
    color: #555;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}


.modal {

    text-align: center;
    padding: 0!important;
}

.modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px; /* Adjusts for spacing */
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

.modal-backdrop {


    display: none;

}




.bugwithmenu {

    margin-top: 0;

}

@media (max-width: 1600px) and (min-width: 1000px) {
    .bugwithmenu {
        margin-top: 80px;
    }
}


.simple-table>tbody>tr>td, .simple-table>tbody>tr>th, .simple-table>tfoot>tr>td, .simple-table>tfoot>tr>th, .simple-table>thead>tr>td, .simple-table>thead>tr>th{


    text-align: left;
    padding-left: 2px;
    border-right: 1px solid #ddd;
    vertical-align: middle;

}


.preloader{


    text-align: center;
}






 .dropdown-custom{


    background: #fff;
    border: 1px solid;
    min-width: 400px;
}




.table-striped tbody tr:nth-child(odd) td {
    background-color: transparent;
}

.table-striped tbody tr.highlight td {
    background-color: #1F897F;
    color: white;
}




body{


    background: #2f373e;
}


/*Angular material components*/







/*Angular select*/


md-select{


    margin: 0;
    border: 1px solid #cccccc;
    border-radius: 4px;
    max-width: 320px;
   /* width: 320px;*/
    height: 35px;

}



.md-select-value{

    padding: 0 0 0 8px;
}


.md-select-value .md-select-icon{

    min-width: 18px;
    min-height: 28px;
    border-left: 1px solid #e5e5e5;

}

.md-select-value>span{

    max-width: 285px;
   /* width: 285px;*/

 }

.md-select-value.md-select-placeholder{

    padding: 0 0 0 8px;

}



.konkret .md-select-value>span {




    max-width: 180px;
    width: 180px;

}


.konkret md-select-menu{


    max-width: 220px;
}


md-select[disabled] {
    cursor: auto;
    background: #F4F4F4;
}







/* Angular datepicker */

.md-datepicker-calendar-pane {


    max-width: 310px;
}

.md-datepicker-input-mask{


    max-width: 310px;
}



.averagecalc{

    width: 320px;

}

.md-datepicker-input-container{

    margin-left: 0;
}

md-datepicker{

    margin-left: -15px;
}


/* End Angular material components*/



.headerselect{

    display: flex;

}


