<div class="row row-margin">    
    <p-panel>
        <div class="row">
            <div class="col-md-9">
                <div class="col-md-2">
                <my-calendar></my-calendar>       
                </div>
                <div class="col-md-2">
                <combobox-component [iNgModel]=typePeriudModel [idLang]=userSetings.langId
                                    [structure]=arrtypePeriud></combobox-component>      
                </div>
                <div class="col-md-2"> 
                <combobox-component [iNgModel]=vladelicModel [idLang]=userSetings.langId
                                    [structure]=arrVladelic></combobox-component>    
                </div>
                <div class="col-md-2">
                <combobox-component [iNgModel]=postavschikModel [idLang]=userSetings.langId
                                    [structure]=arrPostavschik></combobox-component>  
                </div>    
                <div class="col-md-2">
                <combobox-component [iNgModel]=statusModel [idLang]=userSetings.langId 
                                    [structure]=arrStatus></combobox-component>  
                </div>   
            </div>   

            <div class="col-md-3">
            </div> 
        </div>
    </p-panel>   
</div>

<div class="row row-margin">    
  <p-panel [toggleable]="true">
    <div class="row">
        <div class="col-lg-3">
            <div class="row">
            <div class="col-lg-6 lbl-css"><label class="lbl-text-css">{{diction[124][userSetings.langId]}}:</label></div>
            <div class="col-lg-6"><combobox-component [iNgModel]=itemSizeModel 
                                [structure]=arrItemSize></combobox-component></div>
            </div>
        </div>
        <div class="col-lg-3">
        <div class="col-lg-6"><combobox-multi-select-component (updateTableColumns)="updateTableColumns($event)" [option]=tableDateOptions 
                                                                [selectModel]=noFixetColumns [defaultLabel]=defaultLabel>
                                </combobox-multi-select-component></div>
        </div>
        <div class="col-lg-3">
            <p-checkbox name="group1" label={{diction[125][userSetings.langId]}} [(ngModel)]="procentSchow"></p-checkbox>
        </div>
        <div class="col-lg-3 btn-css">
            <button pTooltip={{diction[61][userSetings.langId]}} tooltipPosition="left" type="button" class="btn btn-primary" 
                    (click)="exportToExcell()"><i class="material-icons">file_download</i> 
                    <label *ngIf="userSetings.visibleLabel">  {{diction[61][userSetings.langId]}}</label></button>
            <button pTooltip={{diction[83][userSetings.langId]}} tooltipPosition="left" type="button" 
                    class="btn btn-primary"><i class="material-icons">autorenew</i> 
                    <label *ngIf="userSetings.visibleLabel">  {{diction[83][userSetings.langId]}}</label></button>
        </div>
    </div>
  </p-panel>
</div>

<div class="row">
    <div class="table-margin">
        <tree-table [tableDate]=tableDate [langId]=userSetings.langId [tableDateColumns]=tableDateColumns></tree-table>
    </div>
</div>   
<div>{{updateIdLang()}}</div>