.lbl-text-css{
    margin-top: 7px;
}
.btn-css{
    text-align: left;   
    margin-left: auto;
}
.frame-css{
    min-width: 500px; 
    min-height: 150px;    
    margin-left: auto;
    margin-right: auto;
}
.lbl-css{
    text-align: right;
}