.text-css{
    font-size: 18px;
    text-decoration: none; 
    cursor:default;
}
.distance-css{
    margin:3px 0 0 5px;
}
.btn-search-col{
    width: 350px;
    padding-left: 0px;
}
.distance-col{    
    display: -webkit-box;
    padding-top: 9px;
    padding-left: 40px;
}
.btn-map{
    width: 230px;
}
.boxs-map{    
    width: 870px;
    padding-top: 8px;
    padding-right: 0px;
}
.fa-right-css{    
    padding-left: 56px;
    padding-top: inherit;
}
.map-panel-css{
    margin-top: 15px;
}