<div class="clearfix navbar-fixed-top">
    <a class="page-logo" routerLink={{rLink}} routerLinkActive="active">
        <!--<h1>{{diction[0][langId]}}</h1>-->
        <img src={{logoName}} alt="Logo">
    </a>
    <div class="lft-btn">
        <button pTooltip="Профиль пользователя" tooltipPosition="bottom"
                *ngIf="navbarLevel!=0" type="button" class="btn btn-primary" (click)="closePanel(up)">
            <i class="fa fa-address-card-o"></i> {{currentUser}}
        </button>
        <button pTooltip="Помощь" tooltipPosition="bottom" type="button" class="btn btn-primary" (click)="closePanel(op)">
            <i class="fa fa-question-circle">  <label *ngIf="visibleLabel">Помощь</label></i>
        </button>
        <button pTooltip="МЕНЮ РАЗДЕЛОВ" tooltipPosition="bottom" *ngIf="navbarLevel==2" type="button" class="btn btn-primary" (click)="closePanel(mp)">  
            <i class="fa fa-bars"></i>
        </button>
        <button pTooltip="Выход" tooltipPosition="bottom" *ngIf="navbarLevel!=0" type="button" class="btn btn-primary" 
                                                                        routerLink={{rLink}} routerLinkActive="active">
            <i class="fa fa-caret-square-o-right">  <label *ngIf="visibleLabel">Выход</label></i>   
        </button>
    </div>
    <div class="lng-btn">
        <i class="material-icons btn-lng-ico">translate</i>
        <a class="label label-primary btn-lng" (click)="ol.toggle($event)" style="min-width: 70px">{{diction[108][langId]}}</a>
    </div>
</div>

<p-overlayPanel #up>
    <user-settings-component (closeSide)="closePanelOut(up)"></user-settings-component>
</p-overlayPanel>

<p-overlayPanel #op>
    <sidenav-ft-component (closeSide)="closePanelOut(op)"></sidenav-ft-component>
</p-overlayPanel>

<p-overlayPanel #mp>
    <sidenav-link-menu-component [smallMenu]=smallMenu (closeSide)="closePanelOut(mp)"></sidenav-link-menu-component>
</p-overlayPanel>

<p-overlayPanel #ol>
    <div class="row btn-tooltip-marg"><a class="label label-primary btn-lng btn-block" (click)="langClick(0)">{{diction[108][0]}}</a></div>
    <div class="row btn-tooltip-marg"><a class="label label-primary btn-lng btn-block" (click)="langClick(1)">{{diction[108][1]}}</a></div>
    <div class="row btn-tooltip-marg"><a class="label label-primary btn-lng btn-block" (click)="langClick(2)">{{diction[108][2]}}</a></div>
</p-overlayPanel>