.logo-css{
    text-align: left;
    color: white;
    margin-left: 15px;
}
.lft-btn-css{
    text-align: right;
    margin-right: 10px;    
    margin-top: 15px;
}
.btn-tooltip-marg{
    margin-top: 5px;
    margin-left: 3px;
    margin-right: 3px;
}
.navbar-fixed-top-css 
{    
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1000;
     
}
