*{margin:0px;padding:0px;}
.select{
    position:relative;
    min-width: 200px;
    height:34px;
    background:#fff;
    border:1px solid #bbb;
    z-index:1;
    }
.select > span{
    display:block;
    text-align:center;
    padding-top: 5px;
    cursor:pointer;
    }
.select_{
    display:none;
    position:absolute;
    padding-right:20px;
    max-height:200px;
    background:#fff;
    border:1px solid #bbb;
    overflow:auto;
    }
.select_ > div{
    white-space:nowrap
    }
.select:hover{
    z-index:100;
    }
.select:hover > .select_{
    display:block;
    }