<div class="pagedat">
    <header class="page-header">
        <nav class="navbar mega-menu" role="navigation">
            <div class="container-fluid">
				<navbar-mega-menu-component [logoName]=logoName 
											[navbarLevel]=navbarLevel
                                             (updateIdLang)="updIdLang($event)">
				</navbar-mega-menu-component>
            </div>
        </nav>
    </header>

    <componentlogin [langId]=userSetings.langId></componentlogin>

    <footer-component [langId]=userSetings.langId></footer-component>
</div>