<div class="pagedat">
    <header class="page-header">
        <nav class="navbar mega-menu" role="navigation">
            <div class="container-fluid">
                <div class="clearfix navbar-fixed-top">
                    <a id="index" class="page-logo" routerLink="/login" routerLinkActive="active">
                        <img src="../assets/admin/layout5/img/logo.png" alt="Logo">
                    </a>   				
					<div id="headerselect" class="topbar-actions headerselect ">
                        <button type="button" class="btn btn-primary" (click)="op1.toggle($event)"><i class="fa fa-question-circle"></i> Помощь</button>
					</div>                     
                </div>
            </div>
        </nav>
    </header>

    <componentlogin></componentlogin>

    <div style="margin-bottom: 0px;margin-top: 80px">
        <p class="copyright" style="color:#000000;margin-bottom: 0px">2017 © ТОО "Научно-исследовательский институт
            экономики и информатизации транспорта, телекоммуникаций"</p>
    </div>
    <p-overlayPanel #op1>
        <sidenav-ft-component></sidenav-ft-component>
    </p-overlayPanel>
</div>