<div class="wrapper">
	<header class="page-header">
		<nav class="navbar mega-menu" role="navigation">
			<div class="container-fluid">
				<navbar-mega-menu-component (getHelpPane)="getPanel(op)"
                                       		(getMenuPane)="getPanel(mp)"
											[currentUser]=currentUser 
											[rLink]=rExitLink 
											[logoName]=logoName 
											[navbarLevel]=navbarLevel>
				</navbar-mega-menu-component>

				<div class="nav-collapse collapse navbar-collapse navbar-responsive-collapse">
					<ul class="nav navbar-nav text-uppercase">
						<li class="dropdown dropdown-fw open selected">
							<ul class="dropdown-menu dropdown-menu-fw">    
								<li class="dropdown more-dropdown-sub" *ngFor="let tmenu of menu">
									<a data-close-others="true" routerLink={{tmenu.sref}} routerLinkActive="active">{{tmenu.name}}</a>
									<ul class="dropdown-menu">
										<li *ngFor="let smenu of tmenu.subname"><a routerLink={{smenu.sref}} routerLinkActive="active">{{smenu.name}}</a>
										</li>
									</ul>
								</li>
							</ul>
						</li>
					</ul>
				</div>



			</div>
		</nav>
	</header>
	<div class="container-fluid ">
		<div class="page-content">
			<div ui-view class="fade-in-up">
				<router-outlet></router-outlet>
			</div>
			<p class="copyright">2017 © ТОО "Научно-исследовательский институт экономики и информатизации транспорта,
				телекоммуникаций"
			</p>			
		</div>
		<p-overlayPanel #op>
			<sidenav-ft-component></sidenav-ft-component>
		</p-overlayPanel>
		
		<p-overlayPanel #mp>
			<sidenav-link-menu-component [smallMenu]=smallMenu></sidenav-link-menu-component>
		</p-overlayPanel>
	</div>
</div>