<div class="container-button-center">
    <div class="container-center-button">
        <md-card class="card">
            <md-card-content>
                <h3 class="title uppercase text-center">Грузовой перевозчик</h3>
                <div class="image-container">                    
                    <img width="65" height="60" src="../../../assets/svg/gp.svg">
                </div>
                <p>Расчет себестоимости грузового перевозчика</p>
                <button md-raised-button class="container-btn"><i class="material-icons">trending_flat</i></button>
                <!--<a md-raised-button routerLink=".">Raised button</a>-->
            </md-card-content>
        </md-card>
    </div>

    <div class="container-center-button">
        <md-card class="card">
            <md-card-content>
                <h3 class="title uppercase text-center">Магистральная Ж/Д сеть</h3>
                <div class="image-container">
                    <img width="60" height="48" alt="Магистральная Ж/Д сеть" class="imageitem" src="../../../assets/svg/mzhs.svg"
                        style="margin-top: 7px">
                </div>
                <p>Расчет себестоимости магистральной Ж/Д сети</p>
                <button md-raised-button class="container-btn"><i class="material-icons">trending_flat</i></button>
            </md-card-content>
        </md-card>
    </div>
</div>





