:host {
  background: #424242;
  position: fixed;
  left: auto;
  top: 9%;
  right: 0;
  bottom: 0;
  max-width: 100%;
  z-index: 9999;
} 
.btnclass{
  text-align: left;
  margin: 10px;  
  margin-left: 40px;
}
.pp{
  color: #fff;
  text-align: center;
  text-transform: uppercase !important;
}
.btn-close-css{    
    text-align: right;
    margin-top: -35px;
}