<!--<div class="row" style="text-align: center"> 
  <view-position-component [titelName]=titelName></view-position-component>
</div>-->
<bread-crumb-component [langId]=langId></bread-crumb-component>
<div>{{updateIdLang()}}</div>
<div class="row row-margin">
  <p-panel>
    <div class="row">
      <div class="col-md-9">
        <div class="col-md-2">
          <my-calendar></my-calendar>       
        </div>
        <div class="col-md-2">
          <combobox-component [iNgModel]=typePeriudModel 
                              [structure]=arrtypePeriud></combobox-component>      
        </div>
        <div class="col-md-2"> 
          <combobox-component [iNgModel]=vladelicModel 
                              [structure]=arrVladelic></combobox-component>    
        </div>
        <div class="col-md-2">
          <combobox-component [iNgModel]=postavschikModel 
                              [structure]=arrPostavschik></combobox-component>  
        </div>    
        <div class="col-md-2">
          <combobox-component [iNgModel]=statusModel 
                              [structure]=arrStatus></combobox-component>  
        </div>   
      </div>   

      <div class="col-md-3 btn-css">
        <button  pTooltip={{diction[81][langId]}} tooltipPosition="left" type="button" class="btn btn-primary"
                (click)="viewTemplateFolder()"><i class="material-icons">subtitles</i> <label *ngIf="visibleLabel">  {{diction[81][langId]}}</label></button>
        <button pTooltip={{diction[82][langId]}} tooltipPosition="left" type="button" class="btn btn-primary" 
                (click)="inputFromTemplate()"><i class="material-icons">file_upload</i>  <label *ngIf="visibleLabel">  {{diction[82][langId]}}</label></button>
      </div>  
    </div>
  </p-panel>  
</div>

<div class="row row-margin">
  <p-panel [toggleable]="true">
    <div class="row">
      <div class="col-lg-1">
        <button type="button" (click)="fpidname.show($event)" class="btn btn-primary">{{diction[147][langId]}}</button>
      </div>
      <div class="col-lg-3">
        <div class="row">
          <div class="col-lg-6 lbl-css"><label class="lbl-text-css">{{diction[124][langId]}}</label></div>
          <div class="col-lg-6"><combobox-component [iNgModel]=itemSizeModel 
                              [structure]=arrItemSize></combobox-component></div>
        </div>
      </div>
      <div class="col-lg-3">
          <div class="col-lg-6"><combobox-multi-select-component (updateTableColumns)="updateTableColumns($event)" [option]=tableDateOptions 
                                                                [selectModel]=noFixetColumns [defaultLabel]=defaultLabel>
                                </combobox-multi-select-component></div>
      </div>
      <div class="col-lg-3">
        <p-checkbox name="group1" label={{diction[125][langId]}} [(ngModel)]="procentSchow" binary="true"></p-checkbox>
      </div>
      <div class="col-lg-1 btn-css">
        <button pTooltip={{diction[61][langId]}} tooltipPosition="left" type="button" class="btn btn-primary" 
                (click)="exportToExcell()"><i class="material-icons">file_download</i> <label *ngIf="visibleLabel">  {{diction[61][langId]}}</label></button>
        <button (click)="onRefresch()" pTooltip={{diction[83][langId]}} tooltipPosition="left" type="button" class="btn btn-primary">
                <i class="material-icons">autorenew</i> <label *ngIf="visibleLabel">  {{diction[83][langId]}}</label></button>
      </div>
    </div>
  </p-panel>
</div>

<div class="row">
      <div class="table-margin">
        <tree-table [tableDate]=FilterTableDate [tableDateColumns]=tableDateColumns></tree-table>
      </div>
</div> 

<p-overlayPanel #fpidname [showCloseIcon]="true">
  <div class="row filter-css">
    <div class="col-lg-5">
        <h4>{{fixetColumns[0].header}}</h4>
        <p-tree [value]="filterColumnIdStatValue" selectionMode="checkbox" [style]="{'width':'200px'}"
                                                  [(selection)]="selectefilterColumnIdStatValue"
                                                  (onNodeSelect)="filterTreeId($event)"
                                                  (onNodeUnselect)="filterTreeId($event)">    
        </p-tree>   
    </div>
    <div class="col-lg-7">
        <h4>{{fixetColumns[1].header}}</h4>
        <p-tree [value]="filterColumnNameStatValue" selectionMode="checkbox" [style]="{'width':'300px'}"
                                                  [(selection)]="selectefilterColumnNameStatValue">
                                                  
        </p-tree>
    </div>
  </div>
</p-overlayPanel>