.lbl-text-css{
    margin-top: 7px;
}
.btn-css{
    text-align: left;
    margin-left: auto;
}
.procent-css{
    margin-top: 5px;    
}
.row-margin-css{
    margin-top: 15px;
    margin-left: auto;
}
.icon-size-css{
    font-size: 20px;    
    vertical-align: middle;
}
.colomns-settings-css{
    width:auto;
    margin-bottom:5px
}