.row-margin{
    margin-top: 20px
}
.btn-margin{
    margin-top: 20px;
    margin-left: 35px;
}
.lbl-css{
    text-align: right;
}
.lbl-text-css{
    margin-top: 7px;
}
.btn-css{
    text-align: right;
}
.breadcramps-margin{
    margin-top: 50px;
}
.table-margin{
    margin-top: 20px;
    margin-left: 20px;
}