<div class="row row-margin breadcramps-margin">
  <div class="col-md-9">
    <div class="col-md-2">
    </div>
    <div class="col-md-2">
      <my-calendar></my-calendar>       
    </div>
    <div class="col-md-2">
      <combobox-component [iNgModel]=typePeriudModel [idLang]=userSetings.langId
                          [structure]=arrtypePeriud></combobox-component>       
    </div>
    <div class="col-md-2"> 
      <combobox-component [iNgModel]=vladelicModel [idLang]=userSetings.langId 
                          [structure]=arrVladelic></combobox-component>       
    </div>
    <div class="col-md-2"> 
      <div class="row">
          <div class="col-lg-6 lbl-css"><label class="lbl-text-css">{{diction[80][userSetings.langId]}}:</label></div>  
          <div class="col-lg-6 lbl-css">
            <combobox-multi-select-component (updateTableColumns)="updateTableColumns($event)" [option]=tableDateOptions 
                                                             [selectModel]=noFixetColumns [defaultLabel]=defaultLabel>
                            </combobox-multi-select-component>      
          </div>    
      </div>       
    </div>
  </div>   

  <div class="col-md-3 btn-css">
    <button pTooltip={{diction[61][userSetings.langId]}} tooltipPosition="left" type="button" class="btn btn-primary"  
            (click)="exportToExcell()"><i class="material-icons">file_download</i> <label *ngIf="userSetings.visibleLabel">  {{diction[61][userSetings.langId]}}</label></button>
    <button pTooltip={{diction[83][userSetings.langId]}} tooltipPosition="left" type="button" 
            class="btn btn-primary"><i class="material-icons">autorenew</i> <label *ngIf="userSetings.visibleLabel">  {{diction[83][userSetings.langId]}}</label></button>
  </div>  
</div>

  <tree-table [tableDate]=tableDate [langId]=userSetings.langId [tableDateColumns]=tableDateColumns></tree-table>
<div>{{updateIdLang()}}</div>