<div class="footer-css">
    <div class="row">
        <div class="col-lg-4 copir">
            <h5>{{diction[11][langId]}}</h5>
        </div>
        <div class="col-lg-4 col-lg-offset-3">
            <div class="row"> 
                <span class="key-css">Адрес:</span><span class="value-css">Арай 53, Левый берег, г. Астана</span>
            </div>
            <div class="row">                
                <span class="key-css">Телефон:</span><span class="value-css">+7 777 123 4567</span>                   
            </div>            
        </div>
    </div>
</div>