<div class="footer-css">
    <div class="row">
        <div class="col-lg-4 copir">
            <h5>{{diction[11][langId]}}</h5>
        </div>
        <div class="col-lg-4 col-lg-offset-3">
            <div class="row"> 
                <span class="key-css">{{diction[118][langId]}}</span><span class="value-css">{{diction[119][langId]}}</span>
            </div>
            <div class="row">                
                <span class="key-css">{{diction[120][langId]}}</span><span class="value-css">+7 777 123 4567</span>                   
            </div>            
        </div>
    </div>
</div>