<div class="bugwithmenu" ng-controller="FactCalcKonkretSebestGPCtrl">
	<div class="row" id="choiseparams">
		<md-tab-group>
			<md-tab label="Общие параметры">
				<div class="portlet light">
					<div class="portlet-title">
						<div class="caption font-dark">
							<span class="caption-subject bold uppercase">ОБЩИЕ ПАРАМЕТРЫ</span>
						</div>
					</div>
					<div class="portlet-body form">
						<form action="#" class="form-horizontal form-row-seperated">
							<div class="form-body">
								<div class="form-group">
									<div class="row" style="margin-top:40px;margin-left:40px">
										<div class="col-md-3" style="width: 260px">
											<label>
												Поставщик услуг:
											</label>
										</div> 	
										<div class="col-md-3" style="width: 250px">
											<combobox-component [iNgModel]=data.providerOfServicesAvalaibleOption 
																[structure]=data.arrProviderOfServices></combobox-component>
										</div>
										<div class="col-md-3" style="width: 290px">
											<label>
												Услуга:
											</label>
										</div>

										<div class="col-md-3" style="width: 250px">
											<combobox-component [iNgModel]=data.uslugaAvalaibleOption 
																[structure]=data.arrUsluga></combobox-component>
										</div>
									</div>

									<div class="row" style="margin-top:10px;margin-left: 40px">
										<div class="col-md-3" style="width: 260px">
											<label>
												Вид Себестоимости:
											</label>
										</div>

										<div class="col-md-3" style="width: 250px">
											<combobox-component [iNgModel]=data.typeOfCostAvalaibleOption 
																[structure]=data.arrTypeOfCost></combobox-component>
										</div>

										<div class="col-md-3" style="width:290px">
											<label>
												Тип себестоимости перевозки груза:
											</label>
										</div>

										<div class="col-md-3" style="width: 250px">
											<combobox-component [iNgModel]=data.costTypeAvalaibleOption 
																[structure]=data.costType></combobox-component>
										</div>
									</div>

									<div class="row" style="margin-top:10px;margin-left: 40px">
										<div class="col-md-3" style="width: 260px">
											<label>
												Метод расчета:
											</label>
										</div>

										<div class="col-md-3" style="width: 250px">
											<combobox-component [iNgModel]=data.calcMethodAvalaibleOption 
																[structure]=data.calcMethod></combobox-component>
										</div>

										<div class="col-md-3" style="width:290px">
											<label>
												Учитывать план формирования:
											</label>
										</div>

										<div class="col-md-3 md-checkbox" style="width: 200px">
											<md-checkbox [(ngModel)]="data.formingPlan" name="palanForm" aria-label="Учитывать план формирования:">										
											</md-checkbox>
											<label>checked: {{data.formingPlan}}</label>
										</div>
									</div>

									<div class="row" style="margin-top:10px;margin-left: 40px">
										<div class="col-md-3" style="width: 260px">
											<label>
												Использовать расходные ставки:
											</label>
										</div>

										<div class="col-md-3" style="width: 250px">
											<combobox-component [iNgModel]=data.suppliesRatesAvalaibleOption 
																[structure]=data.suppliesRates></combobox-component>
										</div>

										<div class="col-md-3" style="width:290px">
											<label>
												Вычислять отсутствующие значения:
											</label>
										</div>

										<div class="col-md-3 md-checkbox" style="width: 200px">
											<md-checkbox [(ngModel)]="data.isCalcMiss" name="noDateForm" aria-label="Вычислять отсутствующие значения:">
											</md-checkbox>
											<label>checked: {{data.isCalcMiss}}</label>
										</div>
									</div>

									<div class="row" style="margin-top:10px;margin-left: 40px">
										<div class="col-md-3" style="width: 260px;min-height:40px;">
											<label>
												Дата:
											</label>
										</div>

										<div class="col-md-3" style="width:250px">
											<md-input-container>
												<button mdSuffix [mdDatepickerToggle]="picker"></button>
												<input mdInput [mdDatepicker]="picker">
											</md-input-container>
											<!--<md-datepicker #picker></md-datepicker>-->
											<!--<md-datepicker [(ngModel)]="data.currentDateAngular"></md-datepicker>-->
										</div>

										<div class="col-md-3" style="width:290px">
											<label>
												Тип периода:
											</label>
										</div>

										<div class="col-md-3" style="width: 250px">
											<combobox-component [iNgModel]=data.typePeriodAvalaibleOption 
																[structure]=data.arrTypePeriod></combobox-component>
										</div>
									</div>
								</div>

								<div class="form-group">
									<div class="row" style="margin-top:10px;margin-left: 40px">
										<div class="col-md-3" style="width: 260px">
											<label>
												Род груза:
											</label>
										</div>

										<div class="col-md-3" style="width: 250px">
											<combobox-component [iNgModel]=data.rodGruzaAvalaibleOption 
																[structure]=data.arrRodGruza></combobox-component>
										</div>

										<div class="col-md-3" style="width:290px">
											<label>
												Характеристика груза:
											</label>
										</div>

										<div class="col-md-3" style="width: 250px">
											<combobox-component [iNgModel]=data.haraktGruzAvalaibleOption 
																[structure]=data.arrHaraktGruz></combobox-component>
										</div>
									</div>

									<div class="row" style="margin-top:10px;margin-left: 40px">
										<div class="col-md-3" style="width: 260px">
											<label>
												Вид сообщения:
											</label>
										</div>

										<div class="col-md-3" style="width: 250px">
											<combobox-component [iNgModel]=data.vidSoobAvalaibleOption 
																[structure]=data.arrVidSoob></combobox-component>
										</div>

										<div class="col-md-3" style="width:290px">
											<label>
												Вид грузовой отправки:
											</label>
										</div>

										<div class="col-md-3" style="width: 250px">
											<combobox-component [iNgModel]=data.vidGruzOtprAvalaibleOption 
																[structure]=data.arrVidGruzOtpr></combobox-component>
										</div>
									</div>

									<div class="row" style="margin-top:10px;margin-left: 40px">
										<div class="col-md-3" style="width: 260px">
											<label>
												Тип грузового вагона :
											</label>
										</div>

										<div class="col-md-3" style="width: 250px">
											<combobox-component [iNgModel]=data.typGpVagonAvalaibleOption 
																[structure]=data.arrTypGpVagon></combobox-component>
										</div>

										<div class="col-md-3" style="width:290px">
											<label>
												Принадлежность вагона:
											</label>
										</div>

										<div class="col-md-3" style="width: 250px">
											<combobox-component [iNgModel]=data.prinadlVagonAvalaibleOption 
																[structure]=data.arrPrinadlVagon></combobox-component>
										</div>
									</div>

									<div class="row" style="margin-top:10px;margin-left: 40px">
										<div class="col-md-3" style="width: 260px">
											<label>
												Тип контейнера :
											</label>
										</div>

										<div class="col-md-3" style="width: 250px">
											<combobox-component [iNgModel]=data.typContAvalaibleOption 
																[structure]=data.arrTypCont></combobox-component>
										</div>


										<div class="col-md-3" style="width: 290px">
											<label>
												Принадлежность инвентарного вагона:
											</label>
										</div>

										<div class="col-md-3" style="width: 250px">
											<combobox-component [iNgModel]=data.prinadlInvVagonContAvalaibleOption 
																[structure]=data.arrPrinadlInvVagon></combobox-component>
										</div>
									</div>

									<div class="row" style="margin-top:10px;margin-left: 40px">	
										<div class="col-md-3" style="width: 260px">
											<label>
												Принадлежность контейнера:
											</label>
										</div>

										<div class="col-md-3" style="width: 250px">
											<combobox-component [iNgModel]=data.prinadlContAvalaibleOption 
																[structure]=data.arrPrinadlCont></combobox-component>
										</div>

										<div class="col-md-3" style="width:290px">
											<label>
												Производится охрана груза
											</label>
										</div>

										<div class="col-md-3 md-checkbox" style="width: 200px">
											<md-checkbox [disabled]="ohranatruda"name="SecuritiForm" [(ngModel)]="data.ohrana" aria-label="Вычислять отсутствующие значения:">
											</md-checkbox>
											<label>checked: {{data.ohrana}}</label>
										</div>
									</div>
								</div>

								<div class="row" style="margin-top:20px;margin-left: 40px">
									<div class="col-md-3" style="width: 260px;padding-left: 10px;padding-right: 20px">
										<md-input-container>
											<label>Вес груза:</label>
											<input mdInput [disabled]="vesgruza" type="number" [(ngModel)]="data.vesGruz" name="lVesGruz">
										</md-input-container>
									</div>
									<div class="col-md-3" style="width: 280px;padding-left: 0">
										<md-input-container>
											<label>Количество вагонов в отправке:</label>
											<input mdInput type="number" [(ngModel)]="data.kolVagon" [disabled]="colvagonotvravki" name="lKolVagon">
										</md-input-container>
									</div>

									<div class="col-md-3" style="width: 300px">
										<md-input-container>
											<label>Количество контейнеров:</label>
											<input  mdInput type="number" [(ngModel)]="data.kolKont" [disabled]="contcount" name="lKolKont">
										</md-input-container>
									</div> 
								</div>
							</div>
						</form>
					</div>
				</div>
			</md-tab>

			<md-tab label="ВЫБОР МАРШРУТА">
				<div class="row" id="choiseroute">
					<div class="portlet light">
						<div class="portlet-title">
							<div class="caption font-dark">
								<span class="caption-subject bold uppercase">Выбор маршрута</span>
							</div>
							<div class="actions">
								<!--<a class="btn btn-circle btn-icon-only btn-default fullscreen" href="#">
								</a>-->
							</div>
						</div>

						<div class="portlet-body">
							<div class="row" style="padding-top: 20px; padding-bottom: 20px">
								<div class="col-md-2" style="width: 230px">
									<button type="button" class="btn green" id="borderrk">
										<img src="./../../../../../../../assets/img/placeholder.png" width="32" height="32">
									</button>

									<button type="button" class="btn green" id="station">
										<img src="./../../../../../../../assets/img/trafficsignal.png" width="32" height="32">
									</button>

									<button type="button" class="btn green" id="razezd">
										<img src="./../../../../../../../assets/img/subway.png" width="32" height="32">
									</button>
								</div>

								<div class="col-md-7" style="width: 870px;padding-top: 8px;padding-right: 0px;">
									<!--<select class="form-control input-large select2me" style="max-width: 270px;"
											ng-options="option.name for option in data.startStation track by option.id"
											ng-model="data.startStationAvalaibleOption"
											data-placeholder="Выберите станцию отправления">
										<option value=""></option>
									</select>-->
									<!--<span class="fa fa-arrow-circle-right"></span>
									<select class="form-control input-large select2me" style="max-width: 270px;"
											ng-options="option.name for option in data.startStation track by option.id"
											ng-model="data.middleStationAvalaibleOption"
											data-placeholder="Выберите промежуточную станцию">
										<option value=""></option>
									</select>
									<span class="fa fa-arrow-circle-right"></span>
									<select class="form-control input-large select2me" style="max-width: 270px;"
											ng-options="option.name for option in data.startStation track by option.id"
											ng-model="data.finishStationAvalaibleOption"
											data-placeholder="Выберите станцию назначения">
										<option value=""></option>
									</select>-->
								</div>
								<div class="col-md-3" style="width: 350px;padding-left: 0px;">
									<!--<div class="col-md-2">
										<button ng-disabled="searchmap" ng-init="searchmap=true" type="button" class="btn green" ng-click="btnSearch()">
											<img src="img/magnifying-glass.png" width="32" height="32">
										</button>
									</div>

									<div class="col-md-10" style="display:-webkit-box;padding-top: 9px; padding-left: 40px">
										<a style="text-decoration: none; cursor:default; font-size: 18px">Длина маршрута (км):
											<h4 style="margin:3px 0 0 5px "><span class="label label-warning large"
																				ng-bind="distance" ng-init="distance=0"></span></h4>
										</a>
									</div>-->
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<div class="portlet box green">
										<div class="portlet-title">
											<div class="caption">
												Карта Казахстана
											</div>
										</div>
										<div class="portlet-body">
											<!--<md-progress-linear md-mode="indeterminate" ng-show="showprogressmap" ng-init="showprogressmap=false"></md-progress-linear>
											<div id="map" style="margin-top: 5px;">
											</div>-->
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</md-tab>

			<md-tab label="ВЫБОР ПАРАМЕТРОВ">
				<div class="row" id="windowparams">
					<div class="portlet light">
						<div class="portlet-title">
							<div class="caption font-dark">
								<span class="caption-subject bold uppercase">Выбор параметров</span>
							</div>
							<div class="actions">
								<!--<a class="btn btn-circle btn-icon-only btn-default fullscreen" href="#"></a>-->
							</div>
						</div>

						<div class="portlet-body">
							<div class="row">
								<div class="col-md-12">
									<div class="portlet box green">
										<div class="portlet-title">
											<div class="caption">
												Параметры
											</div>
											<div class="tools">
												<!--<a href="javascript:;" class="expand">
												</a>-->
											</div>
										</div>
										<div class="portlet-body" style="display: none">
											<div class="row">
												<div class="col-md-12">
													<h4 [innerHtml]="route"></h4>
												</div>
											</div>

											<div class="row">
												<div class="col-md-12">
													<div class="col-md-3">
														<div class="row">
															<p>Поездоучастки:</p>
														</div>

														<div class="row">
															<table class="table table-striped table-bordered table-hover"
																style="cursor: pointer;">
																<thead>
																<tr>
																	<th class="hidden">id</th>
																	<th>
																		<md-checkbox aria-label="Select All" name="ckSelectAll"
																					[checked]="isChecked()"
																					[indeterminate]="isIndeterminate()"
																					(click)="toggleAll(arrUchastki)">
																		</md-checkbox>
																	</th>
																	<th>Наименование</th>
																	<th>Длина(км)</th>
																</tr>
																</thead>

																<tbody>
																<tr *ngFor="let item of arrUchastki" [ngClass]="{'highlight':$index == selectedRow}" (click)="editStMarshrut(index ,item);">
																	<td class="hidden">{{item.id}}</td>
																	<td>
																		<!--<md-checkbox ng-checked="exists(item.id, selected)" ng-click="toggle(item.id, selected)">
																		</md-checkbox>-->
																	</td>
																	<td style="text-align: left">{{item.name}}</td>
																	<td style="text-align: right">{{item.km}}</td>
																</tr>
																</tbody>
															</table>
														</div>
													</div>
													<div class="col-md-3" style="margin-left: 20px">
														<div class="row">
															<p>Категории:</p>
														</div>
														<div class="row">
															<h4>Категории грузового поезда:</h4>
															<div class="md-radio-list">
																<!--<div class="md-radio">
																	<input type="radio" id="radio1" name="radio1" class="md-radiobtn"
																		ng-model="data.kategGp" value="1030">
																	<label for="radio1">
																		<span></span>
																		<span class="check"></span>
																		<span class="box"></span>
																		сквозной грузовой поезд </label>
																</div>-->
																<!--<div class="md-radio">
																	<input type="radio" id="radio2" name="radio1" class="md-radiobtn"
																		ng-model="data.kategGp" value="1031">
																	<label for="radio2">
																		<span></span>
																		<span class="check"></span>
																		<span class="box"></span>
																		участковый грузовой поезд </label>
																</div>-->
																<!--<div class="md-radio">
																	<input type="radio" id="radio3" name="radio1" class="md-radiobtn"
																		ng-model="data.kategGp" value="1032">
																	<label for="radio3">
																		<span></span>
																		<span class="check"></span>
																		<span class="box"></span>
																		сборный грузовой поезд </label>
																</div>-->
																<!--<div class="md-radio">
																	<input type="radio" id="radio5" name="radio1" class="md-radiobtn"
																		ng-model="data.kategGp" value="1033">
																	<label for="radio5">
																		<span></span>
																		<span class="check"></span>
																		<span class="box"></span>
																		прередаточно-вывозной поезд </label>
																</div>-->
																<!--<div class="md-radio">
																	<input type="radio" id="radio8" name="radio1" class="md-radiobtn"
																		ng-model="data.kategGp" value="1034">
																	<label for="radio8">
																		<span></span>
																		<span class="check"></span>
																		<span class="box"></span>
																		одиночно-следующий локомотив </label>
																</div>-->
																<!--<div class="md-radio">
																	<input type="radio" id="radio9" name="radio1" class="md-radiobtn"
																		ng-model="data.kategGp" value="1035">
																	<label for="radio9">
																		<span></span>
																		<span class="check"></span>
																		<span class="box"></span>
																		ускоренный грузовой поезд </label>
																</div>-->

																<!--<div class="col-md-3 md-checkbox" style="width: 250px">
																	<input type="checkbox" id="checkbox6" class="md-check"
																		ng-model="data.changeNumber">
																	<label for="checkbox6" style="padding-left: 15px">
																		<span></span>
																		<span class="check"></span>
																		<span class="box"></span>
																		Меняет номер поезда:
																	</label>
																</div>-->

																<!--<div class="form-group form-md-line-input form-md-floating-label"
																	style="margin-top: 50px">
																	<input type="text" class="form-control" id="form_control_5"
																		ng-model="data.countGruzVag">
																	<label style="padding-left: 50px" for="form_control_5">Количество
																		груженых вагонов:</label>
																	<span class="help-block">Здесь вводятся только цифровые значения</span>
																</div>-->

																<!--<div class="form-group form-md-line-input form-md-floating-label">
																	<input type="text" class="form-control" id="form_control_6"
																		ng-model="data.countPorozhVag">
																	<label style="padding-left: 50px" for="form_control_6">Количество
																		порожних вагонов:</label>
																	<span class="help-block">Здесь вводятся только цифровые значения</span>
																</div>-->

																<!--<div class="form-group form-md-line-input form-md-floating-label" style="display: none">
																	<input type="text" class="form-control" id="form_control_11"
																		ng-model="data.probegSecond">
																	<label style="padding-left: 50px" for="form_control_11">Пробег вторых
																		локомотивов лок.км:</label>
																	<span class="help-block">Здесь вводятся только цифровые значения</span>
																</div>-->

																<!--<div class="form-group form-md-line-input form-md-floating-label">
																	<input type="text" class="form-control" id="form_control_12"
																		ng-model="data.probegHelp">
																	<label style="padding-left: 50px" for="form_control_12">Пробег
																		вспомогательных локомотивов лок.км:</label>
																	<span class="help-block">Здесь вводятся только цифровые значения</span>
																</div>-->

																<!--<div class="form-group form-md-line-input form-md-floating-label" style="display: none">
																	<input type="text" class="form-control" id="form_control_7"
																		ng-model="data.tehSpeed">
																	<label style="padding-left: 50px" for="form_control_7">Техническая
																		скорость км/час:</label>
																	<span class="help-block">Здесь вводятся только цифровые значения</span>
																</div>-->

																<!--<div class="form-group form-md-line-input form-md-floating-label">
																	<input type="text" class="form-control" id="form_control_8"
																		ng-model="data.uchastSpeed">
																	<label style="padding-left: 50px" for="form_control_8">Участковая
																		скорость км/час:</label>
																	<span class="help-block">Здесь вводятся только цифровые значения</span>
																</div>-->

																<!--<md-checkbox ng-disabled="soprovozkonduct" ng-init="soprovozkonduct=true" ng-model="data.soprovoz" aria-label="Finished?">
																	Производится сопровождение кондукторскими бригадами
																</md-checkbox>-->
															</div>
														</div>
													</div>

													<div class="col-md-3" style="width: 200px; margin-right: 50px">
														<div class="row">
															<p>Раздельные пункты:</p>
														</div>

														<div class="row" style="max-height: 800px; overflow-y: auto; overflow-x: hidden;">
															<!--<md-table-container>
																<table md-table md-row-select="options.rowSelection" multiple="{{options.multiSelect}}" ng-model="selectedOperation">
																	<thead md-head>
																	<tr md-row>
																		<th md-column class="hidden"><span>ID</span></th>
																		<th md-column style="padding-left: 10px;"><span>Наименование</span></th>
																	</tr>
																	</thead>
																	<tbody md-body style="cursor: pointer;">
																	<tr md-on-select="clickRowTableStation" md-auto-select="options.autoSelect" md-row md-select="item" md-select-id="name" ng-repeat="item in newTable">
																		<td md-cell class="hidden">{{item.id}}</td>
																		<td md-cell style="padding-left: 10px">{{item.name}}</td>

																	</tr>
																	</tbody>
																</table>
															</md-table-container>-->
														</div>
													</div>
													<div class="col-md-3">
														<div class="row" style="width: 150px;">
															<p>Операции: <span class="fa fa-info-circle popovers" data-trigger="hover"
																			data-placement="top"
																			data-content="Разрешается вводить только цифры, остальные значения сохраняться не будут.">
																</span>
															</p>
														</div>
														<div class="row">
															<!--<table class="forhighlighttableclickrow table table-striped table-bordered table-hover">
																<thead>
																<tr>
																	<th class="hidden">obj</th>
																	<th class="hidden">idOper</th>
																	<th>Наименование</th>
																	<th>Значение</th>
																</tr>
																</thead>
																<tbody>
																<tr ng-repeat="item in rowAddTable" ng-keyup="saveRowTableStation(item);">
																	<td class="hidden">{{item.obj}}</td>
																	<td class="hidden">{{item.idOper}}</td>
																	<td style="text-align: left">{{item.nameOper}}</td>
																	<td><input style="border: hidden; background-color: inherit"
																			type="text" ng-model="item.value"
																			ng-pattern="/^[0-9]{1,7}$/"></td>
																</tr>
																</tbody>
															</table>-->
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-11">
								</div>
								<div class="col-md-1">
									<!--<a ng-disabled="koncretcalc" ng-init="koncretcalc=true" class="btn green" ng-click="toSection()">Рассчитать</a>-->
								</div>
							</div>
						</div>
					</div>
				</div>
			</md-tab>

			<md-tab label="РЕЗУЛЬТАТЫ РАСЧЕТА">
				<div class="row" id="rescalculate">
					<div class="portlet light">
						<div class="portlet-title">
							<div class="caption font-dark">
								<span class="caption-subject bold uppercase">Результаты расчета</span>
							</div>
							<div class="actions">
								<a class="btn green" (click)="genExcell()">Экспортировать в Excel</a>
								<!--<a class="btn btn-circle btn-icon-only btn-default fullscreen" href="#"></a>-->
							</div>
						</div>

						<div class="portlet-body">
							<div class="row">
								<div class="col-md-12">
									<div class="row">
										<!--Первая таблица-->
										<div class="col-md-3">
											<table class="table table-striped table-bordered table-hover"
												style="cursor: pointer;">
												<thead>
												<tr>
													<th class="hidden">id</th>
													<th>Наименование</th>
												</tr>
												</thead>
												<tbody>
												<!--<tr ng-repeat="item in arrResList" [ngClass]="{'highlight':$index == selectedRow}" ng-click="clkResList($index, item);">
													<td class="hidden">{{item.id}}</td>
													<td>{{item.name_ru}}</td>
												</tr>-->
												</tbody>
											</table>
										</div>
										<!--Таблица результат-->
										<div class="col-md-9">
											<div class="tabbable-custom">
												<ul class="nav nav-tabs" id="forinsertlistitem">
												</ul>
												<div class="tab-content" id="forinserttabitem">
												</div>
											</div>
										</div>
									</div>
								</div>

								<div [ngClass]="preloaderkonkret" class="preloader">
									<img height="80" width="80" src="./../../../../../../../assets/img/preloader.gif">
									<h4>Подождите. Идёт расчет...</h4>
								</div>
							</div>
						</div>
					</div>
				</div>
			</md-tab>

		</md-tab-group>
	</div>
</div>