<bread-crumb-component [langId]=langId></bread-crumb-component>

<div>{{updateIdLang()}}</div>

<div class="row row-margin">
  <div class="col-md-9">
    <div class="col-md-2">
    </div>
    <div class="col-md-2">
      <my-calendar></my-calendar>       
    </div>
    <div class="col-md-2">
      <combobox-component [iNgModel]=typePeriudModel 
                          [structure]=arrtypePeriud></combobox-component>       
    </div>
    <div class="col-md-2"> 
      <combobox-component [iNgModel]=vladelicModel 
                          [structure]=arrVladelic></combobox-component>       
    </div>
    <div class="col-md-2"> 
      <div class="row">
          <div class="col-lg-6 lbl-css"><label class="lbl-text-css">{{diction[80][langId]}}:</label></div>  
          <div class="col-lg-6 lbl-css">
            <combobox-multi-select-component (updateTableColumns)="updateTableColumns($event)" [option]=tableDateOptions 
                                                             [selectModel]=noFixetColumns [defaultLabel]=defaultLabel>
                            </combobox-multi-select-component>    
          </div>    
      </div>       
    </div>
  </div>   

  <div class="col-md-3 btn-css">
    <button pTooltip={{diction[81][langId]}} tooltipPosition="left" type="button" class="btn btn-primary" 
            (click)="viewTemplateFolder()"><i class="material-icons">subtitles</i> <label *ngIf="visibleLabel">  {{diction[81][langId]}}</label></button>
    <button pTooltip={{diction[82][langId]}} tooltipPosition="left" type="button" class="btn btn-primary" 
            (click)="inputFromTemplate()"><i class="material-icons">file_upload</i> <label *ngIf="visibleLabel">  {{diction[82][langId]}}</label></button>
  </div>  
</div>

<div class="row row-margin">
  <div class="col-lg-3 col-md-offset-9 btn-css">
    <button pTooltip={{diction[61][langId]}} tooltipPosition="left" type="button" class="btn btn-primary" 
            (click)="exportToExcell()"><i class="material-icons">file_download</i> <label *ngIf="visibleLabel">  {{diction[61][langId]}}</label></button>
    <button pTooltip={{diction[83][langId]}} tooltipPosition="left" type="button" 
            class="btn btn-primary"><i class="material-icons">autorenew</i> <label *ngIf="visibleLabel">  {{diction[83][langId]}}</label></button>
  </div>
</div>

<div class="row">
      <div class="col-md-10 row-margin table-margin">
        <tree-table [tableDate]=tableDate [tableDateColumns]=tableDateColumns></tree-table>
      </div>
</div> 