<div>   
    <br>
    <div class="page-quick-sidebar">  
        <div id="feedbackform" class="nav-justified" data-id="ГП" >
        <div class="pp"><p>Форма помощи</p></div>
        <div class="btn-close-css"><a (click)="closeSidClicke()"><i class="material-icons" style="color: #fff">highlight_off</i></a></div>
        <div class="tab-content">
            <div class="tab-pane active page-quick-sidebar-chat" id="quick_sidebar_tab_1">
                <div class="page-quick-sidebar-chat-users" data-rail-color="#ddd" data-wrapper-class="page-quick-sidebar-list">
                    <div class="row">
                        <div class="btnclass"><button class="btn btn-primary" type="button">Методики расчета</button></div>
                    </div>
                    <div class="row">
                        <div class="btnclass"><button class="btn btn-primary" type="button">Справочники</button></div>
                    </div>
                    <div class="row">
                        <div class="btnclass"><button class="btn btn-primary" type="button">Руководство пользователя</button></div>
                    </div>
                    <div class="row">
                        <div class="btnclass"><button class="btn btn-primary" type="button">Часто задаваемые вопросы</button></div>
                    </div>
                </div>
            </div>
        </div>    
        </div>   
    </div>  
</div>