<div>   
    <br>
    <div class="page-quick-sidebar">  
        <div id="feedbackform" class="nav-justified" data-id="ГП" >
        <div class="pp"><p>{{diction[92][langId]}}</p></div> 
        <div class="btn-close-css"><a (click)="closeSidClicke()"><i class="material-icons" style="color: #fff">highlight_off</i></a></div>
        <div class="tab-content">
            <div class="tab-pane active page-quick-sidebar-chat" id="quick_sidebar_tab_1">
                <div class="page-quick-sidebar-chat-users" data-rail-color="#ddd" data-wrapper-class="page-quick-sidebar-list">
                    <div class="group-css">
                        <div class="form-group">
                            <div class="row" style="text-align: center">
                                <label class="label-css">{{diction[112][langId]}} </label>                             
                                <label class="label-css" class="label-css">{{user.login}}</label>
                            </div>
                        </div>
                        <p-panel header={{diction[158][langId]}} [toggleable]="true" [collapsed]="true">   
                            <div class="form-group">
                                <label class="label-pass-css">{{diction[162][langId]}}</label>
                                <label class="error-label" *ngIf="nUser.name.length==0">{{diction[175][langId]}}</label>
                                <input type="text" class="form-control" name="name" [(ngModel)]="nUser.name">
                            </div>                         
                            <div class="form-group">
                                <label class="label-pass-css">{{diction[120][langId]}}</label>
                                <label class="error-label" *ngIf="nUser.phoneNumber.length==0">{{diction[175][langId]}}</label>
                                <input type="text" class="form-control" name="phoneNumber" [(ngModel)]="nUser.phoneNumber">
                            </div>
                            <div class="form-group">
                                <label class="label-pass-css">{{diction[155][langId]}}</label>
                                <label class="error-label" *ngIf="nUser.email.length==0">{{diction[175][langId]}}</label>
                                <input type='email' class="form-control" name="email" placeholder='user.example@example.com' [(ngModel)]="nUser.email">
                            </div>
                            <div class="row margin-row">
                                <div class="col-lg-6">
                                    <button (click)="saveUserProfile()" type="button" class="btn btn-primary"><i class="fa fa-floppy-o" aria-hidden="true"></i> {{diction[101][langId]}}</button>
                                </div>
                            </div>
                        </p-panel>
                        <br>
                        <p-panel header={{diction[96][langId]}} [toggleable]="true" [collapsed]="true">
                            <div class="form-group">
                                <label class="label-pass-css">{{diction[97][langId]}}</label>
                                <label class="error-label" *ngIf="!getCorectPassword(pas.oldpass)">{{diction[173][langId]}}</label>
                                <div class="row">
                                    <div class="col-lg-12"><input type={{textType}} [ngClass]="{'error-label': !getCorectPassword(pas.oldpass)}" class="form-control" name="password0" [(ngModel)]="pas.oldpass"></div>
                                    <div><a><span (click)="showPass()" class="glyphicon glyphicon-eye-open show-pass" aria-hidden="true"></span></a></div>
                                </div>
                            </div>  
                            <div class="form-group">
                                <label class="label-pass-css">{{diction[98][langId]}}</label>
                                <label class="error-label" *ngIf="!getCorectPassword(pas.firstpass)">{{diction[173][langId]}}</label>
                                <div class="row">
                                    <div class="col-lg-12"><input type={{textType}} [ngClass]="{'error-label': !getCorectPassword(pas.firstpass)}" class="form-control" name="password1" [(ngModel)]="pas.firstpass"></div>
                                    <div><a><span (click)="showPass()" class="glyphicon glyphicon-eye-open show-pass" aria-hidden="true"></span></a></div>
                                </div>
                            </div>  
                            <div class="form-group">
                                <label class="label-pass-css">{{diction[99][langId]}}</label>
                                <label class="error-label" *ngIf="!getCorectPassword(pas.secondpass)">{{diction[173][langId]}}</label>
                                <div class="row">
                                    <div class="col-lg-12"><input type={{textType}} [ngClass]="{'error-label': !getCorectPassword(pas.secondpass)}" class="form-control" name="password2" [(ngModel)]="pas.secondpass"></div>
                                    <div><a><span (click)="showPass()" class="glyphicon glyphicon-eye-open show-pass" aria-hidden="true"></span></a></div>
                                </div>
                            </div>
                            <div class="row margin-row">
                                <div class="col-lg-6">
                                    <button  (click)="updatePassword(pas.oldpass,pas.firstpass,pas.secondpass)" type="button" class="btn btn-primary">
                                                <i class="fa fa-floppy-o" aria-hidden="true"></i> {{diction[101][langId]}}
                                    </button>
                                </div>
                            </div>
                        </p-panel>
                        <br>
                        <p-panel header={{diction[156][langId]}} [toggleable]="true" [collapsed]="true">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-lg-6"><label class="vertical-label-css">{{diction[167][langId]}} : </label></div>
                                    <div class="col-lg-6">
                                        <combobox-component (oNgModel)="cbLangChang($event)" 
                                                            [iNgModel]=userSetings.langId 
                                                            [structure]=arrLangs (onChange)='updateProgramSetings()'>                                                            
                                        </combobox-component>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-lg-6"><label>{{diction[157][langId]}} : </label></div>
                                    <div class="col-lg-6">
                                        <p-checkbox (onChange)='updateProgramSetings()' name="buttonText" label="" [(ngModel)]="userSetings.visibleLabel" binary="true">
                                        </p-checkbox>
                                    </div>
                                </div>
                            </div>
                            <div class="row margin-row">
                                <div class="col-lg-6">
                                    <button (click)="saveProgramSetings()" type="button" class="btn btn-primary"><i class="fa fa-floppy-o" aria-hidden="true"></i> {{diction[101][langId]}}</button>
                                </div>
                            </div>
                        </p-panel>
                    </div>   
                </div>
            </div>
        </div>    
        </div>   
    </div>  
</div>

<p-growl [(value)]="msgs"></p-growl>

<p-dialog header={{diction[152][langId]}} [(visible)]="display" modal="modal" width="300" [responsive]="true">
    <p>{{displayText}}</p>
        <p-footer>
            <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                <button type="button" pButton icon="fa-check" (click)="display = false" label="Ok"></button>
            </div>
        </p-footer>
</p-dialog>
