:host {
  background: #424242;
  position: fixed;
  left: auto;
  top: 9%;
  right: 0;
  bottom: 0;
  width: 30%;
  z-index: 9999;
} 
.btnclass{
  text-align: left;
  margin: 10px;  
  margin-left: 40px;
}
.pp{
  color: #fff;
  text-align: center;
  text-transform: uppercase !important;
}
.group-css{
    margin-left: 20px;
    margin-right: 20px;
}
.label-css{
    color: #fff;
}
.label-pass-css{
    color: #000;
}
.ch-css{    
    margin-left: 20px;
}
.show-pass{
    /*color: #000;*/
    display: flex;
    top: 10px;
    right: 35px;
}
.btn-close-css{    
    text-align: right;
    margin-top: -35px;
    margin-right: 15px;
}
.margin-row{
    margin-top: 10px;
}