<div class="row" style="text-align: center"> 
  <view-position-component [titelName]=titelName></view-position-component>
</div>
<p-tabView [activeIndex]=activTabPanel (onChange)="handleChange($event)">
    <p-tabPanel header="Исходные данные">
       <div class="row">
           <div class="col-lg-4">
               <div class="row row-margin">
                   <div class="col-lg-6 lbl-css"><label class="lbl-text-css">Методика : </label></div>
                   <div class="col-lg-6"><combobox-component [iNgModel]=metodikaModel 
                                                             (oNgModel)="metodikaModel = $event"  
                                                             [structure]=arrMetodika></combobox-component></div>
               </div>
               <div><HR></div>
               <div class="row row-margin">
                   <div class="col-lg-6 lbl-css"><label class="lbl-text-css">Услуга : </label></div>
                   <div class="col-lg-6"><combobox-component [iNgModel]=uslugaModel 
                                                             (oNgModel)="uslugaModel = $event"   
                                                             [structure]=arrUsluga></combobox-component></div>
               </div>
               <div><HR></div>
               <div class="row row-margin">
                   <div class="row" style="text-align: left">Период:</div>
                   <div class="row">
                    <div class="col-lg-6"><my-calendar (dateOut)="curentDate = $event"></my-calendar></div>
                    <div class="col-lg-6"><combobox-component [iNgModel]=periudModel 
                                                                 (oNgModel)="periudModel = $event" 
                                                                [structure]=arrPeriud></combobox-component></div>
                   </div>
               </div>
               <div><HR></div>
               <div class="row row-margin">
                   <div class="col-lg-6 lbl-css"><label class="lbl-text-css">Поездоучасток: </label>
                        <i class="material-icons icon-togl-css" pTooltip="Для расчёта по всей дороге оставить поле пустым" tooltipPosition="top">error</i></div>
                   <div class="col-lg-6"><combobox-component [iNgModel]=poezdUchastokModel 
                                                             (oNgModel)="poezdUchastokModel = $event" 
                                                             [structure]=arrPoezdUchastok></combobox-component></div>
               </div>
               <div><HR></div>
               <div class="row row-margin">
                   <div class="row"><h6>Уровень операций:</h6></div>
                   <div class="row"><p-spinner size="30" [(ngModel)]="operaciaValue" [min]="0" [max]="100"></p-spinner></div>  
               </div>
               <div><HR></div>
               <div class="row row-margin">
                   <div class="row"><h6>Уровень измерителей:</h6></div>
                   <div class="row"><p-spinner size="30" [(ngModel)]="izmeritelValue" [min]="0" [max]="100"></p-spinner></div>  
               </div>
               <div><HR></div>
               <div class="row" style="margin-top: 50px">
                   <div class="row chbox-css"><p-checkbox name="group1" label="Вывести балансовые соотношения" [(ngModel)]="balansStatus" binary="true"></p-checkbox></div>
                   <div class="row chbox-css"><p-checkbox name="group2" label="Рассчитать по всем комбинациям" [(ngModel)]="combinaciaStatus" binary="true"></p-checkbox></div>
               </div>
               <div class="row row-margin">                 
                    <button  pTooltip="Рассчитать" tooltipPosition="left" type="button" class="btn btn-primary" [ngClass]="{'disabled': disabled}" 
                            (click)="colculateSebestoimost()"><i class="material-icons">assessment</i>  <label *ngIf="visibleLabel">  Рассчитать</label></button>
                    <button  pTooltip="Сбросить параметры" tooltipPosition="left" type="button" class="btn btn-primary" [ngClass]="{'disabled': disabled}" 
                            (click)="resetParams()"><i class="material-icons">clear</i>  <label *ngIf="visibleLabel">  Сбросить параметры</label></button>
               </div>
           </div>
           <div class="col-lg-8">
               <div class="row"><label>Наименование:</label></div>
               <div class="row"><p-tree [value]="nameFactors" selectionMode="checkbox" [style]="{'width':'100%','height':'100%'}"
                                        [(selection)]="selectedNameFactors" ></p-tree></div>
           </div>
       </div>
    </p-tabPanel>
    <p-tabPanel header="Расчёт">
        <div class="row row-margin">
            <button pTooltip="Отменить" tooltipPosition="left" type="button" class="btn btn-primary" 
                    (click)="canselColculateSebestoimost()"><i class="material-icons">undo</i>  <label *ngIf="visibleLabel">  Отменить</label></button>
            <button pTooltip="Выгрузить в Excell" tooltipPosition="left" type="button" class="btn btn-primary"
                    (click)="exportToExcell()"><i class="material-icons">file_download</i>  <label *ngIf="visibleLabel">  Выгрузить в Excell</label></button>
        </div>
        <div class="row row-margin">
            <table class="table table-bordered">
                <tbody>
                <tr>
                    <td>Вид себестоимости</td>
                    <td>{{getNameByid(arrUsluga, uslugaModel)}}</td>
                </tr>
                <tr>
                    <td>Поездоучасток</td>
                    <td>{{getNameByid(arrPoezdUchastok, poezdUchastokModel)}}</td>
                </tr>
                <tr>
                    <td>Единица измерения себестоимости</td>
                    <td>тенге/10 тонно-км</td>
                </tr>
                <tr>
                    <td>Период</td>
                    <td>{{getDate(curentDate)}}   {{getNameByid(arrPeriud, periudModel)}}</td>
                </tr>
                <tr>
                    <td>Уровень операций</td>
                    <td>{{operaciaValue}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="row row-margin">
            <h4>РЕЗУЛЬТАТЫ РАСЧЁТА</h4>
            <div class="row">

            </div>
            <div class="row">
                <div *ngIf="colculate!=0">
                    <preloader-component [captionText]=preloaderText></preloader-component>
                </div>                
            </div>
        </div>
    </p-tabPanel>
</p-tabView>