<bread-crumb-component [langId]=langId></bread-crumb-component>
<div>{{updateIdLang()}}</div>

<div class="row row-margin">
  <div class="col-md-9">
    <div class="col-md-3">
      <my-calendar></my-calendar>       
    </div>
    <div class="col-md-3">
      <combobox-component [iNgModel]=typePeriudModel 
                          [structure]=arrtypePeriud></combobox-component>      
    </div>
    <div class="col-md-3"> 
      <div class="row">
        <div class="col-lg-6 lbl-css"><label class="lbl-text-css">{{diction[84][langId]}}</label></div>  
        <div class="col-lg-6 lbl-css">
            <combobox-component [iNgModel]=docVidModel 
                                [structure]=arrDocVid></combobox-component>    
        </div>    
      </div>
    </div>
  </div>   

  <div class="col-md-3 btn-css">
    <button pTooltip={{diction[81][langId]}} tooltipPosition="left" type="button" class="btn btn-primary"     
            (click)="viewTemplateFolder()"><i class="material-icons">subtitles</i> <label *ngIf="visibleLabel">  {{diction[81][langId]}}</label></button>
    <button pTooltip={{diction[82][langId]}} tooltipPosition="left"  type="button" class="btn btn-primary" 
            (click)="inputFromTemplate()"><i class="material-icons">file_upload</i> <label *ngIf="visibleLabel">  {{diction[82][langId]}}</label></button>
  </div>  
</div>

<div class="row row-margin">
  <div class="col-lg-3 col-md-offset-9 btn-css">
    <button pTooltip={{diction[61][langId]}} tooltipPosition="left" type="button" class="btn btn-primary" 
            (click)="exportToExcell()"><i class="material-icons">file_download</i> <label *ngIf="visibleLabel"> {{diction[61][langId]}}</label></button>
    <button pTooltip={{diction[83][langId]}} tooltipPosition="left" type="button" 
            class="btn btn-primary"><i class="material-icons">autorenew</i> <label *ngIf="visibleLabel">  {{diction[83][langId]}}</label></button>
  </div>
</div>

<div class="row row-margin">  
    <p-panel>
        <p-header>
            <p-toggleButton [(ngModel)]="dopFiltr" 
                            onLabel={{diction[126][langId]}} 
                            offLabel={{diction[127][langId]}} onIcon="fa-check-square" offIcon="fa-square" [style]="{'width':'260px'}">
            </p-toggleButton>
        </p-header>
        <div *ngIf="dopFiltr">
            <div class="row">
                <div class="col-lg-3">
                    <div class="row">
                        <div class="col-lg-6 lbl-css"><label class="lbl-text-css">{{diction[85][langId]}}:</label></div>  
                        <div class="col-lg-6 lbl-css">
                            <combobox-component [iNgModel]=anyDataModel 
                                                [structure]=arrAnyData></combobox-component>  
                        </div>    
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="row">
                        <div class="col-lg-6 lbl-css"><label class="lbl-text-css">{{diction[40][langId]}}:</label></div>  
                        <div class="col-lg-6 lbl-css">
                            <combobox-component [iNgModel]=anyDataModel 
                                                [structure]=arrAnyData></combobox-component>   
                        </div>    
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="row">
                        <div class="col-lg-6 lbl-css"><label class="lbl-text-css">{{diction[86][langId]}}:</label></div>  
                        <div class="col-lg-6 lbl-css">
                            <combobox-component [iNgModel]=anyDataModel 
                                                [structure]=arrAnyData></combobox-component>    
                        </div>    
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 20px">
                <div class="col-lg-3">
                    <div class="row">
                        <div class="col-lg-6 lbl-css"><label class="lbl-text-css">{{diction[87][langId]}}:</label></div>  
                        <div class="col-lg-6 lbl-css">
                            <combobox-component [iNgModel]=anyDataModel 
                                                [structure]=arrAnyData></combobox-component>   
                        </div>    
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="row">
                        <div class="col-lg-6 lbl-css"><label class="lbl-text-css">{{diction[38][langId]}}:</label></div>  
                        <div class="col-lg-6 lbl-css">
                            <combobox-component [iNgModel]=anyDataModel 
                                                [structure]=arrAnyData></combobox-component>    
                        </div>    
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="row">
                        <div class="col-lg-6 lbl-css"><label class="lbl-text-css">{{diction[88][langId]}}:</label></div>  
                        <div class="col-lg-6 lbl-css">
                            <combobox-component [iNgModel]=anyDataModel 
                                                [structure]=arrAnyData></combobox-component>    
                        </div>    
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="row" style="text-align: center">                            
                        <p-toggleButton [(ngModel)]="tableFiltr" 
                                        onLabel={{diction[128][langId]}}
                                        offLabel={{diction[129][langId]}} onIcon="fa-check-square" offIcon="fa-square" [style]="{'width':'220px'}">
                        </p-toggleButton>
                    </div>
                </div>
            </div>
        </div>
    </p-panel>
</div>

<div class="row row-margin">
    <table-component [value]=tableDate [cols]=tableDateColumns [tableFilter]=tableFiltr></table-component>
</div>