<div class="nav-collapse collapse navbar-collapse navbar-responsive-collapse">
    <ul class="nav navbar-nav text-uppercase">
        <li class="dropdown dropdown-fw open selected">
            <ul class="dropdown-menu dropdown-menu-fw">    
                <li class="dropdown more-dropdown-sub" *ngFor="let tmenu of menu">
                    <a href="javascript:;" data-close-others="true">{{tmenu.name}}</a>
                    <ul class="dropdown-menu">
                        <li *ngFor="let smenu of tmenu.subname"><a ui-sref=smenu.rLink>{{smenu.name}}</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</div>